DNS filter

*(The issue is moved from the Escudo repo.)*

DDoS against DNS is the most popular DDoS for the last years, so this feture is essential.

# General

The filter must work after `src-filter`.

At least a UDP DNS parser on the XDP layer is required to drop malformed requests. Alternatively instead of dropping we can reply with Truncated (TC)  flag to make the client retry using TCP.

TCP DNS flood can be mitigated using the same connection tracking as for ACK/RST flood.

DNS-over-HTTPS should be handled on the Tempesta FW side https://github.com/tempesta-tech/tempesta/issues/1104

The currend XDP module is written as monolithic program, which makes it hard to debug and doesn't scale. It's time to adjust the architecture, so the DNS filter must be a separate program, so do use `bpf_tail_call()`.


# DNS parsing

All the packets carrying UDP to or from port 53 must be sent for parsing by the new protection logic. All invalid DNS queries or responses must be dropped by the parser. The parser should parse DNS headers according to [RFC 1035](https://datatracker.ietf.org/doc/html/rfc1035), including ENDS0 [RFC 2671](https://datatracker.ietf.org/doc/html/rfc2671) required for Cookies.

Reference the NSD's [parse_dns()](https://github.com/NLnetLabs/nsd/blob/master/xdp-server.c#L188) and [query_process()](https://github.com/NLnetLabs/nsd/blob/master/query.c#L1597)

## DNS anomalies

This must be the 1st defense layer.

- [x] drop responses with TTL 0 or larger than 604,800 ([RFC 8767 4](https://datatracker.ietf.org/doc/html/rfc8767#name-standards-action))
- [x] drop all ingress responses, which we didn't see an outgoing queries for (tt seems we can track request/response IDs).
- [ ] reject queries without cookies from clients, who we observed server cookies for (see rate limiting map)
- [x] Other parser errors from the NSD's functions above, e.g. do not process more than 1 query

# DNS Cookies Verification

This is the 2nd protection layer.

Configuration: `dns_cookies <basic | verify=<secret> >`

For verification process use the code from `Cookies/xdp_dns_cookies_kern.c` with the configured secret instead of `COOKIE_SECRET` compile time constant.

For basic checking that server cookie is present in a client query we don't need a training mode since this is always 3rd seen packet.

DNS Cookies defined in [RFC 7873](https://datatracker.ietf.org/doc/html/rfc7873) and updated with [RFC 9018](https://datatracker.ietf.org/doc/html/rfc9018) provide a *lightweight* protection against spoofed DNS DDoS attacks, like TCP syncookies. All major DNS servers, like BIND, NSD, and PowerDNS, support DNS cookies and enable them by default.

The protection works in the following way:

1. The client sends a DNS query to the server
2. The server replies with a cookie value
3. All subsequent client queries must contain the server and client cookies verified by the server. All queries not having cookies or having invalid cookies are rejected by the server.

An attacker still may send spoofed DNS queries, but only once from each of the spoofed source IP addresses.

Tempesta xFW on `basic` mode for `dns_cookies` configuration option just verifies whether the client DNS query has a cookie and drops queries without cookies. This happens on a network card driver layer, so dropping such malicious queries is much cheaper than on the DNS server side.

`verify` mode for `dns_cookies` accepts the `secret` value and can validate the actual values of client and server cookies, not just checking that both the cookies are present as in `basic` mode. To use this mode a DNS server must be configured with the same static Cookie secret. For BIND you can configure this with:
```
options {
    cookie-secret "hex-string-or-random-key";
};
```
For PowerDNS:
```
dns-cookies=yes
dns-cookies-secret=deadbeefcafebabe1234567890abcdef
```


# DNS acceleration

This is the 3rd protection layer.

## NXDOMAIN Filter

Real life only about [0.5%](https://www.akamai.com/site/en/documents/research-paper/akamai-dns-providing-authoritative-answers-to-the-worlds-queries.pdf) of DNS queries lead to NXDOMAIN responses. During a training period fill a bloom filter for all represented domains using successfully answered queries. In active mode reply with `NXDOMAIN` for all queries not fitting the filter. Rate limit the number of queries leading NXDOMAIN responses per second with `qps` parameter.

Configuration: `nxdomain_filter <training | active | flush> qps=<10>;`

Flush the filter on `flush` action (typically is useful when some domains are leaving).

In this and all other training filters, don't just drop a trained filter. Instead, backup it and use if an attack comes while we're training a new filter. On the second flushing, the very first filter is discarded (just like we do with double configuration maps).

## Response Cache

Store all successful responses for a specified types in an LRU map with their timestamps. If the cache is switched on, send the responses with decremented TTL, but don't let the TTL fall below the specified minimum.

Configuration: `response_cache <train | active | flush> types=A,AAAA ttl=60;`

`ttl` can be specified only for `active` mode and it must be valid to update it, e.g. to accept two following configurations with increasing the value:
```
response_cache active ttl=30;
```
```
response_cache active ttl=3600;
```

The cached entries must be cleared from cookies. 
                                                             
This is a simple emergency-only cache of DNS responses, which MAY return stale responses according to [RFC 8767](https://datatracker.ietf.org/doc/html/rfc8767).

In training mode this filter caches all successful responses in an internal LRU storage along with the responses' timestamps. In active mode the filter answers queries using the cache and adjusting ID and TTL of the responses. `ttl` option specifies the minimum value of TTL, i.e. if TTL of a record elapses (the record becomes *stale*) the filter will still return it with the specified TTL.

[RFC 8767](https://datatracker.ietf.org/doc/html/rfc8767) recommends using TTL of 30 seconds for stale records. However, this value might be larger to survive a DDoS attack.

Tempesta xFW sits between a DNS server and a client and changes query ID and TTL in the cached responses, so this filter does not work with [DNSSEC](https://datatracker.ietf.org/doc/html/rfc4033).

Configuration example:
```
# Response cache for A and AAAA records.
# All stale responses will be sent with TTL 60.
response_cache train types=A,AAAA;
``` 

### Precautions

["Mitigating DNS DoS Attacks", H.Ballani, P.Francis, 2008](https://www.cs.cornell.edu/~hitesh/pubs/ccs08-staledns.pdf)
described a DNS stale cache approach similar to the xFW DNS Response cache. The paper
discusses several objections against using the cache and one of the strongest is

> Attackers attempting to force the use of inaccurate information.

xFW DNS Acceleration must be used only under DDoS attack and ideally to avoid zone
changes during the attack mitigation.

                                              
# Rate Limiting

~Rate limiting may impact benign users, so this is the last, 4th, protection layer.~

- ~rate limit of DNS queries per client IP~

~The client rate limiting map must also contain a flag whether a server replied with a response with set cookie ([RFC 7873](https://datatracker.ietf.org/doc/html/rfc7873)).~

_The rate limiting can be just implemented with regular `dst` ratelimit, see https://tempesta-tech.com/tempesta-escudo/knowledge-base/DNS-server/_

# Statistics

- counters for all queries' types
- counters for all response' types
- counters for dropped datagrams by **each** of the rules
- response time statistics (like [Tempesta FW](https://tempesta-tech.com/knowledge-base/Servers-statistics/) provides): min, avg, max, and precentiles for 50%, 75%, 90%, 95%, 99%.
